<div class="container contenedorUno">
  
  <div class="row contenedorDelMenuPrincipal" ng-controller="MenuCtrl">

    <div class="col-md-2">
          <div class="logo"></div>
    </div>
    <div class="col-md-10">
        <div class="navbar navbar-default">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="#"><span class="sinOpacity textoDelOpcionEnElMenu">Alojamiento</span></a>
            </li>
            <li>
              <a href="#" ng-click="showPhoto()" ><span class="sinOpacity textoDelOpcionEnElMenu">Fotos </span></a>
            </li>
            <li class="divider-vertical">
              
            </li>
            <li>
              <a href="#"><span class="sinOpacity textoDelOpcionEnElMenu">Ubicación</span></a>
            </li>
            <li>
              <a href="#"><span class="sinOpacity textoDelOpcionEnElMenu">Actividades</span></a>
            </li>
            <li>
              <a href="#"><span class="sinOpacity textoDelOpcionEnElMenu">Contáctanos</span></a>
            </li>
          </ul>

        </div>

    </div>

  </div>


  <div class="row">

    <div class="col-md-12">
      <div class="btn-group" role="group" aria-label="...">
        <button type="button" class="btn btn-default btnContacteneos"><span class="sinOpacity textoBlanco">Contáctanos</span> </button>
        <button type="button" class="btn btn-default btnContacteneos"> <span class="sinOpacity Contáctanos">506 - 9999 9999</span> </button>
      </div>
    </div>
s
    </div>

    <div class="row">

    <div class="col-md-12">
      <div class="btn-group btn-groupFlags" role="group" aria-label="...">
        <button type="button" class="btn btn-default botonIdioma"><span class="sinOpacity">Idioma</span> </button>
        <button type="button" class="btn btn-default botonIdioma"> <img class="flagIcon" src='https://lh3.googleusercontent.com/jn2mY9DMN64jhHgLJOshCUvX4nPu3d26IF6RO7JpDB2W-AUvy0JNt1s08yRsKsFoLjTT=h310' /></button>
        <button type="button" class="btn btn-default botonIdioma"> <img class="flagIcon" src='https://cdn1.iconfinder.com/data/icons/us-flags/920/United_States-512.png' /></button>
      </div>
    </div>

    </div>
</div>

<br>
<br>

<div class="text-center"><a id="btnReservar" href="#myModal" role="button" class="btn btn-default btnContacteneos" data-toggle="modal">Reserva ahora!</a></div> 

<div class="container-fluid">
  <div class="row" style="border-bottom: 1px solid #DBDBDB !important;">
    <div class="col-md-12">
     <h2>Alojamiento</h2>
     <h4>Cabaña para cuatro personas</h4>
    </div>
  </div>

  <div class="row" style="border-bottom: 1px solid #DBDBDB !important; color: #484848 !important;">
    <div class="col-md-12">
     <br>
     <div><img class="flagIcon" src='https://image.freepik.com/free-icon/bed-with-two-pillows-bottom-view_318-42638.jpg' /> 1 Cama doble</div>
      <br>
 <div><img class="flagIcon" src='https://d30y9cdsu7xlg0.cloudfront.net/png/12395-200.png'/> 2 Camas tres cuarto</div>
 <br>
  <div><img class="flagIcon" src='http://www.lascoudennes.eu/images/dienst-wc-wc_318-30916.jpg'/> Servico con regadera</div>
   <br>
  <div><img class="flagIcon" src='/img/shower.jpg' /> Ducha afuera</div>
   <br>
  <div>Valcon con vista al Mar</div>
   <br>
  
    </div>
  </div>

</div> 

<div class="container-fluid" ng-controller="CreateReservationCtrl">
  <div class="row">
    <div class="col-md-12">
        <!-- <div class="text-center"><a id="btnReservar" href="#myModal" role="button" class="btn btn-default btnContacteneos" data-toggle="modal">Reserva ahora!</a></div>  -->
      <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
              <h3 id="myModalLabel">Realizar una Reservación</h3>
            </div>
            <div class="modal-body">           
            <div>
              <form name="reservationForm" novalidate role="form">
                <div class="container-fluid">
                  <div class="row">
                    <div class='col-sm-4'> <label for="startDate">Día de llegada:</label></div>
                    <div class='col-sm-8'>
                              <div class="form-group" ng-controller="DatepickerCtrl">
                    
                    <p class="input-group">
                        <input id="startDate" type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="reservation.startDate" is-open="opened"
                               datepicker-options="dateOptions"
                               close-text="Close"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    </p>
                </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class='col-sm-4'> <label for="endDate">Día de salida:</label></div>
                      <div class='col-sm-8'>
                          <div class="form-group" ng-controller="DatepickerCtrl">
                    
                    <span class="label label-danger"
                        ng-show="!isValidDates()">End Date must be later or equal to Start Date!</span>
                    <p class="input-group">
                        <input id="endDate" type="text" class="form-control" datepicker-popup="{{format}}"
                               ng-model="reservation.endDate" is-open="opened"
                               datepicker-options="dateOptions"
                               close-text="Close"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="open($event)"><i
                                class="glyphicon glyphicon-calendar"></i>
                        </button>
                    </span>
                    </p>
                </div>
                      </div>
                  </div>
                  <div class="row">
                    <div class='col-sm-4'><label>Cantidad de Cabañas:</label></div>
                    <div class='col-sm-8'>
                      <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">1<span class="caret"></span></button>
                        <ul class="dropdown-menu">
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class='col-sm-4'><label for="name">Nombre<span class="required">*</span></label></div>
                    <div class='col-sm-8'>
                      <span class="label label-danger" ng-show="reservationForm.name.$error.required">Required!</span>
                      <input type="text" class="form-control" id="name" name="name" ng-model="reservation.name" ng-required="true"/>
                    </div>
                  </div>
                  
                  
                </div>
              </form>
            </div>

           <div class="container-fluid" ng-controller = "fupController">
              <div class="row">
                <div class='col-sm-4'><label for="name">Contancia de pago:</label></div>
                <div class='col-sm-8'>
                  <input id="urlDepositId" type="file" file-model="myFile" onchange="angular.element(this).scope().uploadFile()"/>
                  <input id="hiddenInput" type="hidden" class="form-control" name="urlDepositId" ng-model="reservation.urlDepositId" value=""/>
                </div>
              </div>
            </div>

            </div>
            <div class="modal-footer">
              <button ng-click="createReservation(reservationForm)" class="btn btn-primary btnContacteneos">Relizar la reservación</button>
            </div>

            
        </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<script>
       
$(document).ready(function(){ 

});

</script>




 

